

.star{
    color: goldenrod;
    font-size: 2.0rem;
    padding: 0 1rem; /* space out the stars */
  }
  .star::before{
    content: '\2606';    /* star outline */
    cursor: pointer;
  }
  .star.rated::before{
    /* the style for a selected star */
    content: '\2605';  /* filled star */
  }
  
  .stars{
      counter-reset: rateme 0;   
      font-size: 2.0rem;
      font-weight: 900;
  }
  .star.rated{
      counter-increment: rateme 1;
  }
  .stars::after{
      content: counter(rateme) '/5';
  }

  .sidebar {
    width:40rem;
    height: 100vh;
    background-color: #660000;
    position: fixed;
    top: 0;
    right: -22rem;
    transition: all 1s;
    z-index: 80;
  }
  .show-menu .sidebar {
    right: 0;
  }


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}
.content {
    background-color: #fff;
    border-radius: 15px;
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before {
    content: "";
    position: absolute;
    background-color: #660000;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;


    left: 0;
}
.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
.title-primary {
    color: #fff;
}
.title-second {
    color: #660000;
}
.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.description-primary {
    color: #fff;
}
.description-second {
    color: #7f8c8d;
}
.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}
.btn-primary {
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .5s;
}
.btn-primary:hover {
    background-color: #fff;
    color: #660000;
}
.btn-second {
    background-color: #660000;
    border: 1px solid #660000;
    transition: background-color .5s;
}
.btn-second:hover {
    background-color: #fff;
    border: 1px solid #660000;
    color: #660000;
}
.first-content {
    display: flex;
}
.first-content .second-column {
    z-index: 11;
}
.first-column {
    text-align: center;
    width: 40%;
    z-index: 10;
}
.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-media {
    margin: 1rem 0;
}
.link-social-media:not(:first-child){
    margin-left: 10px;
}
.link-social-media .item-social-media {
    transition: background-color .5s;
}
.link-social-media:hover .item-social-media{
    background-color: #660000;
    color: #fff;
    border-color: #660000;
}
.list-social-media {
    display: flex;
    list-style-type: none;
}
.item-social-media {
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #95a5a6;
}
.form {
    display: flex;
    flex-direction: column;
    width: 55%;
}
.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}
input:-webkit-autofill 
{    
    -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
    -webkit-text-fill-color: #000 !important;
}
.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}
.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}

/* second content*/

.second-content {
    position: absolute;
    display: flex;
}
.second-content .first-column {
    order: 2;
    z-index: -1;
}
.second-content .second-column {
    order: 1;
    z-index: -1;
}
.password {
    color: #34495e;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}
.password::first-letter {
    text-transform: capitalize;
}
@keyframes moveBanner {
  0% {
    transform: translateY(10rem) rotateY(-30deg);
  }
  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

.sidebar {
  width: 22rem;
  height: 100vh;
  background-color: #660000;
  position: fixed;
  top: 0;
  right: -22rem;
  transition: all 1s;
  z-index: 80;
}

.show-menu .sidebar {
  right: 0;
}

.menu {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-item {
  text-align: center;
  margin-bottom: 0.5rem;
}

.menu-link {
  font-family: var(--font-action);
  font-size: 2rem;
  color: #fff;
  transition: color 1s;
}

.menu-link:hover {
  color: rgb(136, 135, 135);
}

#titulo {
  font-family: sans-serif;
  color: #ffffff;
  text-shadow: 0.2rem 0.2rem #660000;
  margin-left: 7%;
} 

#subtitulo {
  font-family: sans-serif;
  color: #ffffff;
  text-shadow: 0.1rem 0.1rem #660000;
  margin-left: 16%;
}

fieldset {
  border: 0;
}

input, select, textarea, button {
  font-family: sans-serif;
  font-size: 1em;
  color: #660000;
  border-radius: 5px;
}

.campo {
  margin-bottom: 1em;
}

.campo label {
  margin-bottom: 0.2em;
  color: #ffffff;
  text-shadow: 0.1rem 0.1rem #660000;
  display: block;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
  padding: 0.2em;
  border: 1px solid #ffffff;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  display: block;
}

.campo select option {
  padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
  background: #E0E0F8;
}

.botao {
  font-size: 1.2em;
  background: #660000;
  border: 0;
  margin-bottom: 1em;
  color: #ffffff;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  position: absolute;
  top: 103%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.botao:hover {
  background: #5f1b1b;
  box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
  text-shadow: none;
}

.botao, select{
  cursor: pointer;
}
